<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Add Credential</title>
</head>
<body>
    <!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->
    <div layout:fragment="content">
        <div th:replace="~{fragments/header :: header('add', 'Add Credential', 'credentialForm', @{/credentials})}"></div>
        <div th:replace="~{fragments/form-utils::globalErrors('credential')}"></div>
        <form th:action="${requestUri}" method="post" id="credentialForm">
            <th:block th:replace="~{credential/_form :: credentialForm('add', ${credential})}"></th:block>
        </form>
    </div>
</body>
</html>
