<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Credentials</title>
</head>
<body>
    <!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->
    <!--/*@thymesVar id="credential" type="ludo.mentis.aciem.ecm.model.CredentialSearchDTO"*/-->
    <!--/*@thymesVar id="credentials" type="org.springframework.data.domain.Page<ludo.mentis.aciem.ecm.model.CredentialSearchDTO>"*/-->
    <!--/*@thymesVar id="sortByIdLink" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByIdDirection" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByApplicationLink" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByApplicationDirection" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByUsernameLink" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByUsernameDirection" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByVersionLink" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByVersionDirection" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByCreatedAtLink" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByCreatedAtDirection" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByCreatedByLink" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortByCreatedByDirection" type="java.lang.String"*/-->
    <div layout:fragment="content">
        <div class="d-flex flex-wrap mb-4">
            <h1 class="flex-grow-1">Credentials</h1>
            <div>
                <a class="btn btn-primary ms-2"
                   th:href="@{/credentials/add}"><i class="bi-plus-circle"></i> Add</a>
            </div>
        </div>

        <div class="card shadow mb-3">
            <div class="card-header">
                Filters
            </div>
            <div class="card-body">
                <div class="card-text">
                    <form id="searchForm" th:action="${requestUri}" th:object="${credentialSearch}" method="get">
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <label for="cboApplication" class="form-label">Application</label>
                                <select id="cboApplication"
                                        class="form-select"
                                        th:field="*{applicationId}">
                                    <option value="">Please select</option>
                                    <option th:each="optionValue : ${applicationValues}" th:value="${optionValue.key}">[[${optionValue.value}]]</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="cboEnvironment" class="form-label">Environment</label>
                                <select id="cboEnvironment"
                                        class="form-select"
                                        th:field="*{environment}">
                                    <option value="">Please select</option>
                                    <option th:each="optionValue : ${environmentValues}" th:value="${optionValue}">[[${optionValue}]]</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="cboCredentialType" class="form-label">Type</label>
                                <select id="cboCredentialType"
                                        class="form-select"
                                        th:field="*{credentialType}">
                                    <option value="">Please select</option>
                                    <option th:each="optionValue : ${credentialTypeValues}" th:value="${optionValue}">[[${optionValue}]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <label for="txtName" class="form-label">Username</label>
                                <input type="text" id="txtName" th:field="*{username}" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label for="cboEnabled" class="form-label">Show Deleted?</label>
                                <select id="cboEnabled"
                                        class="form-select"
                                        th:field="*{enabled}">
                                    <option value="true">No</option>
                                    <option value="false">Yes</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="txtCreatedBy" class="form-label">Created By</label>
                                <input type="text" id="txtCreatedBy" th:field="*{createdBy}" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col d-flex justify-content-end">
                                <input type="reset" value="Clear" class="btn btn-secondary me-2"
                                       onClick="return clearForm();" onKeyDown="return clearForm();"/>
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card shadow mb-3">
            <div class="card-header">
                Results
            </div>
            <div class="card-body">
                <p class="card-text" th:if="${#lists.isEmpty(credentials)}">No records were found</p>
                <div th:if="${not #lists.isEmpty(credentials)}" class="table-responsive">
                    <table class="table table-sm table-striped table-hover align-middle">
                        <thead>
                        <tr>
                            <th th:replace="~{fragments/table-utils :: sortableColumnHeader('Id', ${sortByIdLink}, ${sortByIdDirection}, 'id')}"></th>
                            <th th:replace="~{fragments/table-utils :: sortableColumnHeader('Application', ${sortByApplicationLink}, ${sortByApplicationDirection}, 'application')}"></th>
                            <th>Env</th>
                            <th>Type</th>
                            <th th:replace="~{fragments/table-utils :: sortableColumnHeader('Username', ${sortByUsernameLink}, ${sortByUsernameDirection}, 'username')}"></th>
                            <th th:replace="~{fragments/table-utils :: sortableColumnHeader('Version', ${sortByVersionLink}, ${sortByVersionDirection}, 'version')}"></th>
                            <th th:replace="~{fragments/table-utils :: sortableColumnHeader('Last Update', ${sortByCreatedAtLink}, ${sortByCreatedAtDirection}, 'createdAt')}"></th>
                            <th th:replace="~{fragments/table-utils :: sortableColumnHeader('Updated By', ${sortByCreatedByLink}, ${sortByCreatedByDirection}, 'createdBy')}"></th>
                            <th><!-- --></th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr th:each="credential : ${credentials}">
                            <td>[[${credential.id}]]</td>
                            <td>[[${credential.application}]]</td>
                            <td>[[${credential.environment}]]</td>
                            <td>[[${credential.credentialType}]]</td>
                            <td>[[${credential.username}]]</td>
                            <td>[[${credential.version}]]</td>
                            <td>[[${#temporals.format(credential.createdAt, 'dd-MMM-yyyy HH:mm:ss')}]]</td>
                            <td>[[${credential.createdBy}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/credentials/history/{id}(id=${credential.id})}"
                                       th:if="${credential.version() != 1}"
                                       class="btn btn-sm btn-secondary bi-clock"
                                       title="History"></a>
                                    <a th:href="@{/credentials/view/{id}(id=${credential.id})}"
                                       class="btn btn-sm btn-secondary bi-eye"
                                       title="View"></a>
                                    <a th:href="@{/credentials/edit/{id}(id=${credential.id})}"
                                       class="btn btn-sm btn-secondary bi-pencil-square"
                                       title="Edit"></a>
                                    <form th:action="@{/credentials/delete/{id}(id=${credential.id})}"
                                          th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary bi-trash" title="Delete">
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex flex-column flex-md-row align-items-center justify-content-between">
                <nav th:replace="~{fragments/form-utils::pagination()}"></nav>
            </div>
        </div>
    </div>
</body>
</html>
