<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>View Credential</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="~{fragments/header :: header('view', 'View Credential', 'credentialForm', @{/credentials})}"></div>
        <th:block th:replace="~{credential/_form :: credentialForm('view', ${credential})}"></th:block>
    </div>
</body>
</html>
